
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6em;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    padding: 0;
}


.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 25%; */
    flex-direction: row;
    gap: 18px;
    
}

#result {
  margin-bottom: 15px;
}

p {
    margin: 4px;
    color: #F5EFE7;
    font-family: 'Cartoony';
    font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #213555;
}

img,
.glow-img {
  /* max-width: 200px;
  max-height: 200px; */
  max-width: 100px;
  height: 100px;
  border: 0;
  /* margin-bottom: 20px; */
  padding: 12px;
  border: 5px solid #ff525200;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin: 40px 0px;
}

.comic-button {
    display: inline-block;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor:pointer;
    color: #F5EFE7;
    font-family: 'Cartoony';
  }
  
  .comic-button:hover {
    background-color: #F5EFE7;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button:active {
    background-color: #F5EFE7;
    box-shadow: none;
    transform: translateY(4px);
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #00000040;
    color: #F5EFE7;
    font-family: 'Cartoony';
    font-size: 28px;
  }

  @font-face {
    font-family: 'Cartoony'; /*a name to be used later*/
    src: url(../RPS/fonts/Changa-VariableFont_wght.ttf); /*URL to font*/
}

.btn-img {
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0px;
}

.glow-img {
 border: 5px solid #ff5252;
 border-radius: 10px;
 padding: 12px;
 margin: 0;
}