
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25%;
    flex-direction: column;
    gap: 12px;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}


.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 25%; */
    flex-direction: row;
    gap: 12px;
}

p {
    margin: 4px;
}